    body {
        background: #f1f2f7!important;
    }
    /* i {
        color: #fff!important;
    } */
    
    .sidebar-header h2 {
        color: white !important;
        font-size: 20px;
        text-align: center;
    }
    
    .toggler i {
        color: #790024;
    }
    
    .sidebar-wrapper {
        background: #790024;
    }
    
    .sidebar-wrapper .menu {
        padding-left: 1rem;
    }
    
    .sidebar-wrapper .menu .sidebar-link {
        color: #fff;
    }
    
    .sidebar-header {
        border-bottom: 1px solid #000;
    }
    
    .sidebar-wrapper .menu .sidebar-title {
        color: #fff;
        font-size: 12px;
    }
    
    .sidebar-wrapper .menu .submenu .submenu-item a {
        font-size: 12px;
        color: #fff;
        line-height: 3;
        display: inline;
    }
    
    .sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
        background-color: #968827;
    }
    
    .sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link::after {
        color: #fff!important;
    }
    
    .new {
        background: #db3540;
        padding: 0px 5px;
        margin-left: 2px !important;
        position: absolute;
        left: 180px;
        top: 12px;
    }
    
    .page-heading {
        background-color: #fff;
        text-align: right;
        padding: 10px 30px;
        margin: 0px !important;
        border-bottom: 2px solid #dddcdf;
    }
    
    .page-heading img {
        margin-left: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    
    .page-heading i::before {
        margin-top: 5px;
    }
    
    .up-bar {
        background-color: #fff;
        font-size: 24px;
        padding: 10px 2px;
        border: 2px solid #dddcdf;
        margin: 0px auto 40px;
    }
    
    .up-bar i {
        color: #968827;
    }
    
    .section .card {
        border-radius: 0px !important;
    }
    
    .dataTable-sorter {
        color: #606060;
    }
    
    table {
        margin-top: 20px;
    }
    
    .sidebar-wrapper .menu .submenu .submenu-item>i {
        margin-left: 8px;
    }
    
    .sidebar-wrapper .menu .submenu .submenu-item.active {
        background-color: #fff;
    }
    
    .sidebar-wrapper .menu .submenu .submenu-item.active>a {
        color: #790024;
    }
    
    .sidebar-wrapper .menu .submenu .submenu-item.active>i {
        color: #790024;
    }
    
    .submenu-item i {
        color: #fff;
    }
    /* Approved Bookings Page Code  */
    
    .booking-main {
        background-color: #fff;
    }
    
    .btn1 {
        padding: 5px 60px;
        background: #968827;
        color: #fff;
        border: none;
        border-radius: 0px;
    }
    
    .btn2 {
        display: inline;
        padding: 5px 10px;
        background: #968827;
        color: #fff;
        border: 1px solid #77785a;
        border-radius: 0px;
    }
    
    .btn-group {
        margin-top: 20px;
    }
    
    .booking-t {
        background-color: #d7d8dc!important;
        font-size: 12px;
        font-weight: 700;
        color: #000;
    }
    
    .booking-ref {
        color: #3280d6;
        font-size: 14px;
        font-weight: 700;
    }
    
    th,
    td {
        white-space: nowrap;
        font-size: 12px;
    }
    /* progree-bar styles */
    
    .progress-bars {
        max-width: 100%;
        display: flex;
        margin: 40px 0;
        position: relative;
        z-index: 1;
    }
    
    .progress-bars .step {
        position: relative;
        text-align: center;
        width: 100%;
    }
    
    .progress-bars .step p {
        font-size: 18px;
        font-weight: 500;
        color: #790024;
        margin-bottom: 8px;
        transition: 0.2s;
    }
    
    .progress-bars .step p.active {
        color: #d43f8d;
    }
    
    .progress-bars .step .bullet {
        position: relative;
        height: 50px;
        width: 50px;
        border: 2px solid #000;
        display: inline-block;
        border-radius: 50%;
        transition: 0.2s;
        background: #fff;
    }
    
    .progress-bars .step .bullet.active {
        border-color: #d43f8d;
        background: #d43f8d;
    }
    
    .progress-bars .step .bullet.active2 {
        background: #790024;
    }
    
    .progress-bars .step .bullet.active2 span {
        display: none;
    }
    
    .progress-bars .step .bullet.active2 i {
        display: block;
    }
    /* .progress-bars .step:last-child .bullet:before,
    .progress-bars .step:last-child .bullet:after {
        display: none;
    } */
    
    .progress-bars .step .bullet:before,
    .progress-bars .step .bullet:after {
        position: absolute;
        content: "";
        bottom: 21px;
        right: -61px;
        height: 3px;
        width: 361%;
        background: #262626;
        z-index: -2266;
    }
    
    .progress-bars .step .bullet.active:after {
        background: #d43f8d;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.3s linear forwards;
    }
    
    @keyframes animate {
        100% {
            transform: scaleX(1)
        }
    }
    
    .progress-bars .step .bullet span {
        color: #790024;
        font-weight: 700;
        font-size: 15px;
        line-height: 50px;
        left: 50%;
        transform: translate(-50%);
    }
    
    .progress-bars .step .bullet.active span {
        display: none;
    }
    
    .progress-bars .step .check {
        color: white;
        position: absolute;
        left: 50%;
        top: 29%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        z-index: 9000;
    }
    
    .progress-bars .step .check.active {
        display: block;
        color: #fff;
    }
    /* other in inventory */
    
    .radio-1 {
        display: flex;
    }
    
    .radio-1 label {
        font-size: 12px;
        font-weight: 700;
        color: grey;
    }
    
    .radio-1 .form-check {
        margin-right: 20px;
    }
    
    .radio-header h4,
    .radio-header p {
        color: #000;
        background: #fff!important;
    }
    
    .package-card {
        background: #fff!important;
        padding-top: 70px;
    }
    
    .package-card .card-title {
        color: #5b5d59;
    }
    
    .package-card p {
        font-size: 14px;
        font-weight: 500;
    }
    
    .overview {
        margin-top: 20px;
    }
    
    .inventory {
        margin-top: -11%;
    }
    
    .inventory01 {
        margin-top: -10%;
    }
    
    .btn-group-2 button {
        padding: 3px 15px;
        color: #fff;
        background: #968827;
        border: none;
    }
    
    .btn-group-2 button i {
        font-size: 15px;
        margin: 0px 5px;
    }
    
    .text-area-1 {
        position: relative;
        z-index: 1111;
        padding-top: 44px!important;
        padding-bottom: 44px!important;
    }
    
    .text-icon i {
        position: absolute;
        bottom: 25%;
        right: 25%;
        z-index: 9000;
    }
    
    .disabled-01 {
        visibility: hidden;
    }
    
    .page-03 label {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .accordion-button {
        background: #dddcdf;
        border: 1px solid #fff;
        font-weight: 600;
    }
    
    .fa-chevron-left::before {
        margin-right: 5px;
    }
    
    .inventory04 {
        padding-right: 5px!important;
        padding-left: 5px!important;
    }
    
    .inventory04 label {
        color: #737475;
        font-size: 15px;
        font-weight: 600;
    }
    
    .col-1 {
        padding-right: 140px;
    }
    
    .sec-col label {
        margin-bottom: 1px;
    }
    
    .radio-flex {
        margin-top: 44px;
    }
    
    .radio-flex2 {
        margin-top: 50px;
        margin-left: 12px;
    }
    
    .inventory-05 label,
    h6 {
        font-size: 14px;
        font-weight: 500;
        color: #606060;
    }
    
    .remove-btn {
        padding: 3px 20px;
        background: #790024;
        color: #fff;
        border: none;
        margin-top: 50px;
    }
    
    .remove-btn i {
        margin-right: 4px;
    }